<app-backheader></app-backheader>

<section class="Fromsection">
    <section>
        <div class='col-xl-12 w3-container'>
            <h4><p>ALL Posts</p> </h4>
        </div>
    </section>
    <div class="card-body">
        <div class="panel-heading">
            <label>Name :</label>
            <label id="PostName"></label>
        </div>
    </div>
    <div class="form-row m-b-55">
    <div class="name">Name</div>
    <div class="value">
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group-desc">
                    <input class="input--style-5" type="text" name="first_name">
                    <label class="label--desc">first name</label>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group-desc">
                    <input class="input--style-5" type="text" name="last_name">
                    <label class="label--desc">last name</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8" style="margin-left:364px">
    <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Your Message Here" maxlength="6000" rows="7"></textarea>
    <label for="name"> Message:</label>
</div>
<div class="col-sm-8 form-group " style="margin-left:364px">
    
    <label for="name"> Message:</label>
</div>
</section>
<form clas="panel panel-default">
    <div class="panel-heading">
        nn,n,nmn,n
    </div>
    
    <div   class="panel-body">
<div class="form-group col-5">
    <label>Last Name</label>
    <input type="text" formControlName="lastName" class="form-control" />
    
  </div>

   <input type="text" class="form-control" id="email" name="email" maxlength="50">
   <input type="text" formControlName="PostImage" class="form-control" />
</div>
</form>