<!-- Header -->
<div>
  <img src="../../../assets/images/ProfileIco.ico" style="float:right;width:35px;height: 31px;" onclick="">
</div>

<!-- Side Nav -->
<div class="sidenav">
  <a routerLink="/Dashboard">Dashborad</a>
  <a routerLink="/AllPost">All Post</a>
  <a routerLink="/NewPost">Add New Post</a>
  <a routerLink="/AllEvent">Event List</a>
  <a routerLink="/NewEvent">Add Event</a>
  <button class="dropdown-btn">Dropdown
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <a href="#contact">Search</a>
</div>
<!-- Footer -->
<div>
</div>